.service-container{
    border: 1px solid lightgrey;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 10px;
}

.service-container img{
    width: 415px;
    height: 375px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin-left: 1px;
    margin-top: 5px;
    padding: 2px;
}
    
