.container{
    border: 1px solid salmon;
    border-radius: 15px;
}

.container h1{
    text-align: center;
}
.container img{
    width: 400px;
    height: 375px;
    border: 1px solid burlywood;
    border-radius: 5px;
    padding: 5px;
    
}