.expert-container {
    border: 1px solid lightgrey;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 10px;
    
};

/*Why don't apply here following funtionality*/
/* .expert-container img{
    width: 400px;
    height: 395px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin-top: 15px;
}
 */
 /*img{
    width: 400px;
    height: 395px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin-top: 15px;
 };*/

 /*style={{border:'1px solid lightgray',width:'400px',height:'395px',marginTop:'15px',borderRadius:'15px'}}*/


    